.header__link {
    text-decoration: none;
    color: white;
    font: normal 18px/22px "Inter", Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    .header__link {
      margin-right: 27px;
    }
  }